{% load i18n %}
{% load static %}
<footer class="bg-dark text-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">{% trans 'Contacts' %}</h5>
  
          <p>{% trans 'Mobile: +359 892 999 092' %}</p>
          <a href="https://wa.me/359886332300"><img width=auto height='50px' src="{% static 'images/watsapp.png' %}"/></a>
          <p>{% trans 'Address: Bulgaria, Varna, Tsar Asen Street No. 52' %}</p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">{% trans 'Map' %}</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.88684313955!2d27.91802591548341!3d43.21186267913889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a455d1014a7d9d%3A0x51f37738b0d3389!2sStinger%20Tattoo!5e0!3m2!1sen!2sbg!4v1615303306723!5m2!1sen!2sbg" width="auto" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">{% trans 'Pages' %}</h5>
  
          <ul class="list-unstyled">
            <br />
            <li>
              <a href="{% url 'home-page' %}" class="text-light">{% trans 'Home' %}</a>
            </li><br />
            <li>
              <a href="{% url 'portfolio' %}" class="text-light">{% trans 'Gallery' %}</a>
            </li><br />
            <li>
              <a href="{% url 'list_blog' %}" class="text-light">{% trans 'Varna' %}</a>
            </li><br />
            <li>
              <a href="{% url 'faq-page' %}" class="text-light">{% trans 'FAQ' %}</a>
            </li><br />
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright: Tattoo Varna City Break
    </div>
    <!-- Copyright -->
  </footer>
  
  